.navbar {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3634353d;
    color: #6209f3;
    padding: 20px;
  }
  .nav-cont {
    position: sticky;
    top: 0;
  }
  
  .navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    margin-right: 20px;
  }
  .navbar li {
    box-sizing: border-box;
  }
  
  .navbar li:hover {
    
    font-size: large;
    padding: 3px;
  }
 
  
  .navbar {
    font-size: medium;
    color: #f6f5f9;
    text-decoration: none;
    
  }
  .navbar-brand{
    margin-left: 50px;
    width: 100px; 
  }
  
  @media (max-width: 768px) {
    .navbar {
      flex-direction: column;
    }
  
    .navbar ul {
      margin-top: 10px;
      flex-direction: column;
    }
  
    .navbar li {
      box-sizing: border-box;
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .navbar li:hover {
      font-size: large;
      padding: 2px;
      border-radius: 5%;
    }
  }