.container_Gym {
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
  }
  .Gym_bg{
        background-image: url('https://images.pexels.com/photos/1229356/pexels-photo-1229356.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
      
  }
  
  .section_Gym {
    margin-bottom: 20px;
    padding: 40px;
  }
  
  .part_section_Gym {
    background-color: #f2f2f297;
    padding: 40px;
    font-size: 20px;
  }
  
  .section_title_Gym {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .program_section_Gym {
    background-color: #ffffffa6;
    padding: 40px;
  }
  
  .program_cards_row_Gym {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .program_card_Gym {
    width: calc(33.33% - 10px);
    background-color: #f2f2f2a4;
    height: 200px;
  }
  
  .mentor_section_Gym {
    background-color: #f2f2f2a8;
    padding: 40px;
  }
  
  .mentor_cards_row_Gym {
    display: flex;
    justify-content: space-between;
  }
  
  .mentor_card_Gym {
    width: calc(33.33% - 10px);
    background-color: #ffffffa4;
    height: 200px;
  }
  
  .basic {
    background-color: #f2f2f2ad;
    text-align: center;
  }
  
  .section_description_Gym {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .section_button_Gym {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .section_button_Gym:hover {
    background-color: #c4cad1c3;
    color: #000000;
  }
  
  @media (max-width: 768px) {
    .container_Gym {
      padding: 10px;
    }
  
    .section_Gym {
      padding: 20px;
    }
  
    .program_cards_row_Gym,
    .mentor_cards_row_Gym {
      flex-wrap: wrap;
      justify-content: center;
    }
  
    .program_card_Gym,
    .mentor_card_Gym {
      width: calc(50% - 10px);
    }
  }
  .program_card_Gym {
    width: calc(33.33% - 10px);
    background-color: #f2f2f2a4;
    height: auto;
    margin-bottom: 20px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .program_card_Gym .divimg_Gym {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .program_card_Gym img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
  }
  
  .program_card_Gym h3 {
    font-size: 18px;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  