.reg_bg{
  background-image: url('https://images.pexels.com/photos/3775164/pexels-photo-3775164.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;

}

.card_reg {
  width: 800px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  margin: 0 auto;
  margin-top: 90px;
  background: linear-gradient(135deg, #91b1d088, #bbfc658a);
}

.logo_reg {
  width: 200px;
  height: 80px;
  margin-bottom: 20px;
  margin-right: 3%;
}

.input-field_reg {
  width: 300px;
  height: 40px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;

}

.submit-btn_reg {
  width: 200px;
  height: 40px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 18%;
}
.submit-btn_reg:hover {
  background-color: #7a8189e3;
  color: #0c0c0c;
}

.sections_reg {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forgot-password_reg,
.already-registered_reg a,
.not-registered_reg a{
  margin-bottom: 10px;
  color: rgb(28, 191, 255);
}
.forgot-password_reg:hover,
.already-registered_reg a:hover,
.not-registered_reg a:hover{
  margin-bottom: 10px;
  color: rgb(170, 218, 237);
}

@media (max-width: 600px) {
  .card_reg {
    width: 90%;
    max-width: 400px;
    height: auto;
    padding: 20px;
    
  }
  .submit-btn_reg {
    width: 200px;
    height: 40px;
    background-color: #06fec8;
    color: #000000;
    border: none;
    border-radius: 5px;
    margin-left: 0%;
  }
  .submit-btn_reg:hover {
    background-color: #7a8189e3;
    color: #0c0c0c;
  }

  
  .logo_reg {
    width: 160px;
    height: 80px;
    margin-bottom: 15px;
  }
  
  .input-field_reg,
  .submit-btn_reg {
    width: 100%;
  }
  .reg_bg{
    background-image: url('./img/hbmedia.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
  
  }
} 